.ticker-body {
    color: white;
    margin-top: 80px;
}

/* Need to make smaller at 991px width */
.price-div {
    padding-bottom: 30px;
}

.symbol-label-sm {
    display: inline-block;
    position: relative;
    bottom: 40px;
}

.price-big {
    font-size: 80px;
    font-weight: bold;
}

.percent-label {
    display: block;
    font-size: 32px;
    position: relative;
    bottom: 10px;
}

.percent-gain {
    color: #45FF45;
}

.percent-loss {
    color: #FF0000;
}

/* Need to make smaller at 991px width */
.col-value {
    font-size: 40px;
}

.col-label {
    display: block;
    font-size: 20px;
}

@media (max-width: 991px) {
    .price-big {
        font-size: 60px;
    }

    .symbol-label-sm {
        bottom: 30px;
    }

    .col-value {
        font-size: 30px;
    }

    .col-label {
        font-size: 16px;
    }

    .details-col {
        margin-bottom: 15px;
    }
}

@media (max-width: 480px) {
    .price-big {
        font-size: 45px;
    }

    .symbol-label-sm {
        bottom: 20px;
    }
}