.ticker-body {
    color: white;
    margin-top: 80px;
}

/* Need to make smaller at 991px width */
.price-div {
    padding-bottom: 30px;
}

.symbol-label-sm {
    display: inline-block;
    position: relative;
    bottom: 40px;
}

.price-big {
    font-size: 80px;
    font-weight: bold;
}

.percent-label {
    display: block;
    font-size: 32px;
    position: relative;
    bottom: 10px;
}

.percent-gain {
    color: #45FF45;
}

.percent-loss {
    color: #FF0000;
}

/* Need to make smaller at 991px width */
.col-value {
    font-size: 40px;
}

.col-label {
    display: block;
    font-size: 20px;
}