.navbar-inverse {
    background-color: #001119;
    border-bottom: 1px solid #888888;
}

.navbar-inverse .navbar-brand,.navbar-brand:hover {
    color: white;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  
  .navbar .navbar-collapse {
    text-align: center;
  }

@media (min-width: 768px) {
    .navbar-brand {
        position: absolute;
        left: 15px;
    }
}